{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 'bundles/app/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
  <table class="pure-table pure-table-striped">
    <tr>
      <th>Key</th><th>Value</th>
    </tr>
    {% for key, value in stats %}
    <tr>
      <td>{{ key }} </td><td>{{ value }}</td>
    </tr>
    {% endfor %}
  </table>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}

{% endblock %}
